# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc*0*.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.FileListAbsolute.txt
*.sln
*.vpc_crc
*.vpc.sentinel

mp/src/.vs/
sp/src/.vs/

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib
game_shader_dx9.dll
game_shader_dx9.pdb
game_shader_dx9.lib
captioncompiler.exe
captioncompiler.pdb
captioncompiler.lib
glview.exe
glview.pdb
glview.lib
height2normal.exe
height2normal.pdb
height2normal.lib
motionmapper.exe
motionmapper.pdb
motionmapper.lib
serverplugin_empty.dll
serverplugin_empty.pdb
serverplugin_empty.lib
tgadiff.exe
tgadiff.pdb
tgadiff.lib
vbsp.exe
vbsp.pdb
vbsp.lib
vice.exe
vice.pdb
vice.lib
vrad_dll.dll
vrad_dll.pdb
vrad_dll.lib
vrad.exe
vrad.pdb
vrad.lib
vtf2tga.exe
vtf2tga.pdb
vtf2tga.lib
vtfdiff.exe
vtfdiff.pdb
vtfdiff.lib
vvis_dll.dll
vvis_dll.pdb
vvis_dll.lib
vvis.exe
vvis.pdb
vvis.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# Tools
mp/game/bin/tools/*.dll
sp/game/bin/tools/*.dll
mp/game/bin/tools/*.pdb
sp/game/bin/tools/*.pdb

mp/src/tools/**/*.dll
sp/src/tools/**/*.dll
mp/src/tools/**/*.lib
sp/src/tools/**/*.lib
mp/src/tools/**/*.pdb
sp/src/tools/**/*.pdb

mp/src/tools/directorscut/thirdparty/lgpl

# files generated by running a mod
config.cfg
stats.txt
server_blacklist.txt
textwindow_temp.html
*.cache
*.dt
*.dat
*.ain
commedit.txt
*.lst

# shader files
*.tmp

*.vpc.sentinel
*.vcxproj*
[Dd]ebug*/
[Rr]elease*/
*.pdb
.vs/
